views/index.html
<!DOCTYPE default><html lang="en"><head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta name="description" content=""/><meta name="author" content=""/><title></title><!--Bootstrap core CSS. If no theme is passed in, we'll default to the theme called 'flatly'.//link(href="https://s3.amazonaws.com/content.musicman/static/bootstrap/css/theme/" + setTheme + "/bootstrap.css", rel="stylesheet")
//link(href="https://s3.amazonaws.com/content.musicman/static/bootstrap/css/theme/flatly/bootstrap.css", rel="stylesheet")
//link(href="https://s3.amazonaws.com/content.musicman/static/bootstrap/css/jumbotron-narrow.css", rel="stylesheet")
--></head><link href="latest/static/bootstrap/css/theme/flatly/bootstrap.css" rel="stylesheet"/><!--Custom styles for this template--><link href="latest/static/bootstrap/css/jumbotron-narrow.css" rel="stylesheet"/><body><div class="container"><div class="header"><h3 class="text-muted">Alexa MusicMan Artist and Venue corrections</h3></div><div class="alert alert-success" id="signupSuccess" style="display:none"><p id="signupSuccessText">Thanks for providing your MusicMan parm value helper.</p></div><div class="alert alert-success" id="signupDuplicate" style="display:none"><p id="signupDuplicateText">Thanks, looks like someone has submitted that correction already.</p></div><div class="alert alert-info" id="signupError" style="display:none"><p id="signupErrorText">Well this is embarrassing. It looks like we're having trouble updating the list.</p></div><div class="jumbotron"><h2>Alexa MusicMan - Parm fixer</h2><p class="lead">Thanks for providing input to help MusicMan better identify the Artist or Venue youre looking for.</p><p></p><a class="btn btn-lg btn-success" data-toggle="modal" href="#signupModal">Provide your update</a></div><div class="footer"><p>&copy; 2016 Rod Ellison - Alexa MusicMan Parm Fixer</p></div><!-- Modal--><div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">Provide your updates here.</h4></div><div class="modal-body"><form id="signupForm" role="form"><input type="hidden" id="THEME" name="THEME" value="slate"/><div class="form-group"><label for="InvalidData">Artist or Venue that was not found correctly</label><input class="form-control" type="text" id="InvalidData" name="InvalidData" placeholder="Your input"/></div><div class="form-group"><label for="ValidData">What should the Artist or Venue be to find it correctly?</label><input class="form-control" type="text" id="ValidData" name="ValidData" placeholder="Your input"/></div></form></div><div class="modal-footer"><button class="btn btn-primary" id="signup" type="button">Submit correction</button></div></div></div></div><script src="https://s3.amazonaws.com/content.musicman/static/jquery/jquery.js"></script><script src="https://s3.amazonaws.com/content.musicman/static/bootstrap/js/bootstrap.min.js"></script></div><script>$(document).ready(function() {
  $("#signup").click(function() {
    $.post( "/latest/signup", $("#signupForm").serialize(),
            function(data) {
              $("#signupSuccess").show();
            }
          )
          .error(function(xhr) {
            switch(xhr.status) {
              case 400:
                $("#signupDuplicate").show();
                break;
              default:
                $("#signupError").show();
            }
          })
          .always(function() {
            $("#signupModal").modal('hide');
          });
  })
})</script></body></html><!--try a little more to get the CSS inside the app working - try /latest/static above..//Move the CSS to Cloudfront rodellison site..-->

views/index.pug
extends layout.pug

block content
  div(class="container")
    div(class="header")
      h3(class="text-muted" align=center) Alexa MusicMan Artist and Venue corrections
    div(id="signupSuccess", class="alert alert-success", style="display:none")
      p(id="signupSuccessText") Thanks for providing your MusicMan parm value helper.
    div(id="signupDuplicate", class="alert alert-success", style="display:none")
      p(id="signupDuplicateText") Thanks, looks like someone has submitted that correction already.
    div(id="signupError", class="alert alert-info", style="display:none")
      p(id="signupErrorText") Well this is embarrassing. It looks like we're having trouble updating the list.
    div(class="jumbotron")
      h2 Alexa MusicMan - Parm fixer
      p(class="lead") Thanks for providing input to help MusicMan better identify the Artist or Venue youre looking for.
      p
      a(class="btn btn-lg btn-success", data-toggle="modal", href="#signupModal") Provide your update
    
    div(class="footer" align=center)
      p &copy; 2016 Rod Ellison - Alexa MusicMan Parm Fixer
      
    // Modal
    div(class="modal fade", id="signupModal", tabindex="-1", role="dialog", aria-labelledby="signupModal", aria-hidden="true")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
            h4(class="modal-title") Provide your updates here.
          div(class="modal-body")
            form(id="signupForm", role="form")
              input(type="hidden", id="THEME", name="THEME", value="slate")
              div(class="form-group")
                label(for="InvalidData") Artist or Venue that was not found correctly
                input(type="text", class="form-control", id="InvalidData", name="InvalidData", placeholder="Your input")
              div(class="form-group")
                label(for="ValidData") What should the Artist or Venue be to find it correctly?
                input(type="text", class="form-control", id="ValidData", name="ValidData", placeholder="Your input")
          div(class="modal-footer")
            button(id="signup", type="button", class="btn btn-primary") Submit correction
            
    script(src="https://s3.amazonaws.com/content.musicman/static/jquery/jquery.js")
    script(src="https://s3.amazonaws.com/content.musicman/static/bootstrap/js/bootstrap.min.js")

  script.
    $(document).ready(function() {
      $("#signup").click(function() {
        $.post( "/latest/signup", $("#signupForm").serialize(),
                function(data) {
                  $("#signupSuccess").show();
                }
              )
              .error(function(xhr) {
                switch(xhr.status) {
                  case 400:
                    $("#signupDuplicate").show();
                    break;
                  default:
                    $("#signupError").show();
                }
              })
              .always(function() {
                $("#signupModal").modal('hide');
              });
      })
    })
